<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5">Delete {{ . }}?</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form hx-delete="/api/site" hx-vals='{"slug": "{{ js . }}"}'>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="domainBox">Domain (required)</label>
                    <input type="text" name="domain" id="domainBox" class="form-control" placeholder="Domain">
                </div>
                <div class="mb-3">
                    <label for="pathBox">Path</label>
                    <input type="text" name="path" placeholder="/" id="pathBox" class="form-control">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
</div>
