<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Management portal</title>
    <script src="https://unpkg.com/htmx.org@1.9.4" defer></script>
</head>
<body>
<h1>Palmatum Management Portal</h1>
<h2>Active sites</h2>
<ul>
    {{ range $data := .ActiveSites }}<li><a href="/{{ $data.Name }}">{{ $data.Name }}</a> <a href="" hx-post="/-/delete" hx-vals='{"siteName": "{{ $data.Name }}"}' hx-confirm="Are you sure you want to delete '{{ $data.Name }}'?">[x]</a>{{ if not $data.LastModified.IsZero }}<i> updated {{ $data.LastModified.Format "Jan 02, 2006 15:04:05 UTC" }}{{ if ne $data.LastModifiedBy "" }} by {{ $data.LastModifiedBy }}{{ end }}</i>{{ end }}</li>{{ else }}<li><i>No active sites</i></li>{{ end }}
</ul>
<h2>Upload new site bundle</h2>
<form action="/-/upload" method="post" enctype="multipart/form-data">
    <label for="siteNameInput">Site name/path: </label>
    <input type="text" name="siteName" id="siteNameInput">
    <br>
    <label for="archiveInput">Site archive: </label>
    <input type="file" name="archive" id="archiveInput">
    <br>
    <input type="submit" value="Submit">
</form>
</body>
</html>